.App {
}

.App-header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.App-content-header {
  text-align: center;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}
