.for-demo {
  background: rgba(220,220,220, 0.7);
  padding: 20px 10px;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.for-demo__label {
  float: left;
  text-transform: uppercase;
}

.for-demo__menu {
  @include reset-list();
  @include inline-list();
  @include separator-list();
}
