// reset lists
@mixin reset-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;

  & li {
    list-style: none outside none;
  }
}

@mixin inline-list {
  & li {
    display: inline-block;
  }
}

@mixin separator-list($item_gutter: 20px, $start_position: 2, $character: "\2022") {

  & li {
    margin-left: $item_gutter/2;
    cursor: pointer;

    &:nth-child(n+#{$start_position}) {
      &:before {
        content: $character;
        margin-right: $item_gutter/2;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
