.summary {
  text-align: center;
  background: #f4f4f4;
  border-radius: .25em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4em;
}

.summary-item {
  padding: 20px;
}

.summary-item__inner {
  display: flex;

  > div {
    padding: 0 10px;
  }
}

.summary-item__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.summary-item__content {
  font-size: 21px;
}
