.timeline-footer {
  max-width: 1170px;
  margin: -2em auto 50px;
  padding: 0 10px 40px;

  @media only screen and (min-width: 1170px) {
    text-align: center;
    margin-top: -3em;
  }
}

.timeline-footer__notice {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  font-weight: 600;
}

.timeline-footer__dots {
  position: relative;
  top: 30px;
  font-size: 30px;
  padding-left: 10px;

  @media only screen and (min-width: 1170px) {
    text-align: center;
    padding-left: 0;
  }
}
